
@import url('../css/fonts.css');

/* ------------ HTML e Body ------------*/
html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /* Colori */

    --white: whitesmoke;
    --navBackground: #3490c3;
    --hoverWhite: #c0c2c4;
    --textGray: rgb(85, 85, 85);

    /* Gradient Color */

    --sky: linear-gradient(120deg, #3490c3 0%, #ffffff 100%);

    /* Font-Families */

    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cusrive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}
/* ------------------- Classi Globali -------- */

a{
    text-decoration: none;
    color: var(--white);
}

ul{
    list-style-type: none;
}

.flex-row{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{

    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h3{
    
    font-family: var(--Abel);
    font-size: 1.3rem;
}

h2{

    font-family: var(--Livvic);
}

button.btn{

    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1em;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 1.2vw;
}

.text-gray{
    color: var(--textGray);
}

p{
    font-family: var(--Abel);
    color: var(--textGray);
}

/* ------------------- Classi Globali -------- */

/* ------------------- NavBar ----------- */
.nav{

    background: var(--navBackground);
    padding: 0 2rem; /*Top/Bottom e Left/Right */
    height: 0rem;
    min-height: 8vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{

    justify-content: space-between;
}

.nav .nav-name a{

    font-size: 1.6rem;
    padding: 1rem 0rem;
    display: block;
    font-family: var(--Abel);
}

.nav .toggle-collapse{

    position: absolute;
    top: -1.5%;
    width: 90%;
    cursor: pointer;
    display: none; /*Inizialmente non si vede l'icona*/
}

.nav .toggle-collapse .toggle-icons{

    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{

    font-size: 1.4rem;
    color:var(--white);
}

.collapse{

    height: 30rem;
}

.nav .nav-items{

    display: flex;
    margin: 0;
}

.nav .toggle-collapse .toggle-icons i{

    color: var(--white);
}

.nav .nav-items .nav-link{

    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position:relative;
    font-family: var(--Abel);
}

.nav .nav-items .nav-link:hover{

    background-color: var(--white);
}

.nav .nav-items .nav-link:hover a{

    color: var(--navBackground);
}

.nav .social{

    padding: 1.4rem 0;
}

.nav .social i{

    padding: 0 .2rem;
}

.nav .social i:hover{

    color: var(--hoverWhite);
}

/* ------------------- NavBar ----------- */

/* ------------------- Pagina Principale ------------- */

main .site-title{

    background:url("../Immagini/background.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content:center;
}

main .site-title .site-background{

    padding-top: 20rem;
    text-align: center;
    color: var(--white);
}

main .site-title .btn{

    margin: 1.8rem;
    background: var(--navBackground);
    color: var(--white)
}

main .site-title .btn:hover{

    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

main .site-title h1,h3 {

    margin: .3rem;
}

/* ------------------- Pagina Principale ------------- */

/* ------------------- Carousel ------------- */

main .blog{
    background: var(--navBackground);
    height: 65vh;
    width: 100%;
}

main .blog .blog-post{
    padding-top: 3rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 20px black;
    background: var(--white);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}

section .container .owl-nav{

    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{

    color: var(--white);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background:transparent;
    color: var(--white);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/* ------------------- Carousel ------------- */

/* ------------------ Contenuto del Sito ------------------*/

main .site-content{

    display: grid;
    grid-template-columns: 75% 25%;
}

main .post-content{

    width:100%;
    margin-bottom: 3rem;
}

main .site-content .post-content > .post-image, .post-title{

    padding: 1rem 5rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{

    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

main .site-content .post-content > .post-image > div{

    overflow: hidden;
}

main .site-content .post-content > .post-image .img{

    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover{

    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{

    margin: 0 .5rem;
}

main .post-content .post-title a{

    font-family: var(--Anton);
    font-size: 1.5rem;
}

main .site-content .post-content .post-title .post-btn{

    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}

/* ----------------------- Sidebar -------------------- */


.site-content .sidebar .previous-post .post-content .post-image{

    padding-left: 0rem;
    width:95%;
}


.site-content .sidebar .previous-post .post-info{

    padding: .4rem .1rem !important;
    bottom: 1.22rem !important;
    left: 0rem !important;
    border-radius: 0rem !important;
    background:var(--navBackground) !important;
    color: var(--white) !important;
}

.site-content .sidebar .previous-post .post-title a{

    font-size: 1rem;
}

.site-content .sidebar .previous-post .post-title{

    padding-left: 0rem;
    padding-top: 0rem;
}


/* ----------------------- Sidebar -------------------- */

/* ------------------ Contenuto del Sito ------------------*/

/* Viewport a meno di 750px */

@media only screen and (max-width: 937px){

.nav .nav-menu, .nav .nav-items{

    flex-direction: column;
}

.nav .toggle-collapse{

    display: initial; /*Sotto i 878px si vede */
}
}